   <footer class="oj-web-applayout-footer" id="footerWrapper" role="contentinfo">
          <div class="oj-web-applayout-footer-item oj-web-applayout-max-width">
            <ul>
              <!-- ko foreach: footerLinks -->
              <li><a data-bind="text : name, attr : {id: linkId, href : linkTarget}"></a></li>
              <!-- /ko -->
            </ul>
          </div>
          <div class="oj-web-applayout-footer-item oj-web-applayout-max-width oj-text-secondary-color oj-text-sm">
            Copyright © 2014, 2017 Oracle and/or its affiliates All rights reserved.
          </div>
        </footer>